body {
  font-family: "Nunito", sans-serif;
  background: #121212;
  color: #fff;
}
.link {
  text-decoration: none;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  min-height: calc(100vh-70px);
}
